@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName)
  <input type="submit" value="Add new task" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>