p.menu{
  font-size: 25px;
  /* font-size: 5px;
  font-family: fantasy; */
  color:blue;
}
/* div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;

} */
#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  padding:8px;
  background:#99154E;
  color:#FFC93C; 
  font-size: large;
  font-family: fantasy;
}



body {
  background-color: #FFDDCC;
  text-align: center;
  margin-top: 7%;
}

.links {
  margin-top: 10%;
}
.container{
  margin-top: 10%;
}
h1,h4,h5{
  color: #99154E;
}
a{
  color:#DA723C;
  font-size:medium;
}
.home{
  padding-top: 10%;
}
h3,label{
  color:#007965;
}
