@{
  Layout = "_Layout";
}
@model Factory.Models.Machine

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.MachineName)
  @Html.TextBoxFor(m => m.MachineName)
  <input type="submit" value="Add this machine" />
}

<p>@Html.ActionLink("Go back to Machines", "Index")</p>
<p>@Html.ActionLink("Go back to Home", "Index","Home")</p>