@{
  Layout = "_Layout";
}
@model Factory.Models.Machine;

<h4> Edit this Machine : @Html.DisplayFor(m => m.MachineName) </h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.MachineId)

  @Html.LabelFor(m => m.MachineName)
  @Html.EditorFor(m => m.MachineName)
  <input type="submit" value="Save" />
}
