<div id="footer">
<span class="menu">@Html.ActionLink("Go back to Machines", "Index","Machines")</span>
<span class="menu">@Html.ActionLink("Go back to Engineers", "Index","Engineers")</span>
<span class="menu">@Html.ActionLink("Go back to Home", "Index","Home")</span>

</div>